@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for a specific div in webkit-based browsers */
#scrollhorigental::-webkit-scrollbar {
    width: 0.5em;
}

#scrollhorigental::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Hide scrollbar for a specific div in Firefox */
#scrollhorigental {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* Hide scrollbar for a specific div in IE, Edge */
#scrollhorigental {
    -ms-overflow-style: none;
}